body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.lohi img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sum {
    flex-grow: 1;
    text-align: center;
}

.search {
    margin-top: 20px;
}

.search input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.search button {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fffbfb;
    text-decoration: none;
}

/* Product section styles */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    width: 300px;
    background-color: #070707;
    margin-bottom: 10px;;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.product h2 {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.product h3 {
    font-size: 16px;
    color: white;
    margin-top: 5px;
}

.product p {
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

.product button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #45a049;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


header {
    animation: fadeIn 0.5s ease-in-out;
}

.products .product {
    animation: slideIn 0.5s ease-in-out;
}
header {
    opacity: 0;
    animation: fadeInHeader 1s forwards;
}

@keyframes fadeInHeader {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wishlist-heart {
    color: #ccc;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.wishlist-heart:hover {
    color: red;
}